<section id="about">
	<div class="relative">
		<div
			class="my-container section-py xl:pt-52 md:pb-60 xl:pb-80 2xl:pb-96 md:flex md:gap-28 2xl:px-72"
		>
			<div class="flex flex-col gap-4 md:max-w-xs xl:max-w-md">
				<h2 class="text-background-jet">
					About Our Company <br /><span
						class="font-logo font-medium text-primary-green text-3xl"
						>Lawnr<span class="text-accents-red text-4xl">.</span></span
					>
				</h2>
				<p class="text-background-jet">
					We are a lawn care and landscaping company that provides quality
					services to our clients. We take pride in our work and always aim to
					please. We offer a wide range of services, from lawn mowing to flower
					bed installation, so we can cater to your every need. We are a
					family-owned and operated business, and we believe in treating our
					clients like family. We are always here to help, so don't hesitate to
					call us!
				</p>
			</div>

			<div
				class="hidden md:block lg:absolute lg:max-w-sm xl:max-w-lg 2xl:max-w-xl lg:right-14 lg:-top-16 xl:right-28 2xl:right-72"
			>
				{%image 'assets/images/about-min.jpeg', 'A man using a weed trimmer' %}
			</div>
		</div>
	</div>
</section>
