<section id="contact">
	<div
		class="bg-primary-dark-green my-container flex flex-col items-center section-py gap-12 md:gap-16 xl:gap-24 2xl:gap-28"
	>
		<h2 class="text-background-white text-center">Contact Us</h2>
		<form class="flex flex-col gap-5 w-full lg:w-2/3 xl:w-1/2 2xl:w-2/5">
			<div class="flex flex-col gap-5 md:flex-row">
				<div class="flex flex-col gap-5 md:w-1/2">
					<input placeholder="Name" class="rounded-sm py-1 px-2" />
					<input placeholder="Email" class="rounded-sm py-1 px-2" />
					<input placeholder="Subject" class="rounded-sm py-1 px-2" />
				</div>
				<textarea
					placeholder="Your Message..."
					class="resize-none rounded-sm pt-2 px-2 pb-4 flex-grow"
				></textarea>
			</div>
			<input
				type="button"
				value="Send Message"
				class="text-background-white bg-accents-orange rounded-md py-1 md:rounded-full md:self-end md:px-4 md:py-2"
			/>
		</form>
	</div>
</section>
