<footer
	class="my-container pt-12 lg:pt-28 pb-4 flex flex-col gap-10 md:gap-28 lg:gap-44 xl:gap-56"
>
	<div
		class="flex flex-col items-center gap-14 md:flex-row xl:gap-48 2xl:gap-72"
	>
		<div class="flex flex-col gap-2 items-center md:items-start xl:w-64">
			<a href="/" class="font-logo font-medium text-primary-green text-3xl"
				>Lawnr<span class="text-accents-red text-4xl">.</span></a
			>
			<p class="text-background-jet text-center md:text-left">
				The last lawn care service you’ll ever need
			</p>
		</div>
		<div
			class="flex flex-wrap gap-16 md:flex-nowrap md:gap-0 md:w-4/5 md:justify-between xl:w-auto xl:gap-32"
		>
			<div class="flex flex-col gap-3">
				<h4 class="text-xl text-background-jet font-semibold">Company</h4>
				<ul class="text-background-jet opacity-80 flex flex-col gap-2">
					<li>About Us</li>
					<li>Careers</li>
					<li>Support</li>
					<li>Knowledgebase</li>
				</ul>
			</div>
			<div class="flex flex-col gap-3">
				<h4 class="text-xl text-background-jet font-semibold">Services</h4>
				<ul class="text-background-jet opacity-80 flex flex-col gap-2">
					<li>Patios</li>
					<li>Gardens</li>
					<li>Terrace</li>
				</ul>
			</div>
			<div class="flex flex-col gap-3">
				<h4 class="text-xl text-background-jet font-semibold">Contact Us</h4>
				<ul class="text-background-jet opacity-80 flex flex-col gap-2">
					<li>info@lawnr.com</li>
					<li>1-800-200-300</li>
					<li>
						2715 Ash Dr. San Jose,<br />
						South Dakota 83475
					</li>
				</ul>
			</div>
		</div>
	</div>

	<p>
		Designed & Developed by
		<a href="https://antoniothomasjr.com/" class="font-semibold"
			>Antonio Thomas</a
		>
	</p>
</footer>
