<div
	class="bg-hero min-h-screen bg-cover bg-center flex items-center justify-center px-8"
>
	<div
		class="text-background-white flex flex-col items-center gap-4 text-center"
	>
		<h1 class="font-black text-3xl md:text-4xl lg:text-6xl">
			Lawn Care Made Easy
		</h1>
		<p>Enjoy your time in your garden, not working in it.</p>
		<a href="/#contact" class="bg-primary-dark-green py-2 px-4 rounded-full">
			Get A Free Consultation
		</a>
	</div>
</div>
