---
title: site.title
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ site.title }}</title>
		{% if description %}
		<meta name="description" content="{{ description }}" />
		{% endif %}

		<link rel="stylesheet" href="styles/global.css?v={% version %}" />
	</head>
	<body class="bg-background-white">
		<div class="flex flex-col h-screen" id="content">
			{% include 'components/main-header' %} {% block content %}{{ content }}{%
			endblock %}
		</div>
	</body>
</html>
