---
description: This is our homepage
title: Landscaping Demo
---

<main>
	{% include 'components/hero' %} {% include 'components/services' %} {%
	include'components/work' %} {% include 'components/about' %} {%
	include'components/testimonials' %} {% include 'components/contact' %}
</main>
